$black: hsl(0, 60%, 7%);
$red: hsl(12, 86%, 55%);
$backgroundRed: hsla(12,86%,55%,.6);
$white: hsl(0,0,90%);
$secondaryColor: hsl(239, 56%, 39%);
$green: hsl(115, 56%, 50%);


body {
  background-color: rgb(242, 227, 85);
}
