// @import url(https://fonts.googleapis.com/css?family=Sarpanch:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic);
h1 {
  font-size: 6rem;
  font-family: 'Sarpanch', sans-serif;
}
.textBox {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  padding: 6rem;
}
input {
  padding: 1rem 2rem 1rem 2rem;

}
