header {
  width: 100vw;
//   height: 20vh;
  background-color:hsl(239, 56%, 39%);
//   padding: 0px;
//   margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: -8px;
  border: 2px solid black;
}
h1 {
  flex-wrap: wrap;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  flex-direction: row;
  // justify-content: center;
}
.textBox {
  font-size: 2rem;
}
.ahpend{
  font-size: 7rem;
}
.buttonMan{
  display: flex;
  justify-content: center;
  align-items: center;
}
// .swayzeMe {
//   // align-self: flex-start;
//   height: 3rem;
//   width: 9rem;
//   border-radius: 5px;
//   box-shadow: 2px 2px 2px 2px;
//   font-size: 1rem;
//   background-color:rgb(75, 179, 70);
//   top-margin: 100px;
// }
