header {
  width: 100vw;
//   height: 20vh;
  background-color:hsl(239, 56%, 39%);
//   padding: 0px;
//   margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: -8px;


}
h1 {

  flex-wrap: wrap;
  color: $white;
}
h2 {
  flex-flow: column-wrap;
  color: $white;
  flex-wrap: wrap;
  // margin-bottom: -50px;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  justify-content: center;
  align-items: flex-end;

  // flex-direction: row;
  // justify-content: center;
}
.textBox {
  font-size: 2rem;
  width: 100%;
  // display: flex;
  // justify-content: center;
}
.ahpend{
  font-size: 7rem;
}
.buttonMan{
  display: flex;
  justify-content: center;
  flex-direction: row;
  // padding-right: 100px;
  // width: 100px;
  // height: 20px;
}
// .swayzeMe {
//   // align-self: flex-start;
//   height: 3rem;
//   width: 9rem;
//   border-radius: 5px;
//   box-shadow: 2px 2px 2px 2px;
//   font-size: 1rem;
//   background-color:rgb(75, 179, 70);
//   top-margin: 100px;
// }
html{
  height: 100%;
  width: 100%;
}
.swayzeMe {
  height: 5rem;
  width: 10rem;
  background-color: $secondaryColor;
  color: $white;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  // align-self: flex-end;
  left:50vw;
}
